<div class="text-center">
    <h1 class="display-4">Products</h1>
    <br />
    <a asp-action="viewProductsCreateEdit" asp-controller="Home" class="btn btn-dark">Add product</a>
    <br />
    <br /
    <form  asp-action="SearchProduct" asp-controller="Home">
        <div class="form-group">
            <label for="search">Find product:</label>
            <input type="text" id="search" name="search" class="form-control mb-1" placeholder="Enter product name" />
        </div>
        <button type="submit" class="btn btn-primary mb-4">Search</button>
    </form>
    <br />
    
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td>
                        <a asp-action="viewProductsCreateEdit" asp-controller="Home" asp-route-id="@product.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="DeleteFunc" asp-controller="Home" asp-route-id="@product.Id" asp-route-type="product" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
            <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to Overview</a>

    </tbody>
</table>
